.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 32px;
    z-index: 3;
    width: 100%;
    max-width: 360px;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
    margin: 0 auto 195px auto;
}}

@media screen and (max-width: 768px) {
    .cover__subtitle {
    margin: 0 auto 115px auto;
}}

@media screen and (max-width: 700px) {
    .cover__subtitle {
    margin: 0 auto 33px;
    padding-top: 16px;
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
}}
