.footer__links {
    display: grid;
    grid-template: 1fr/ repeat(5, auto);
    gap: 18px;
}

@media screen and (max-width: 425px) {
    .footer__links {
    grid-template: repeat(5, 1fr)/ 1fr;
    gap: 32px;
}}