.place__paragraph {
    margin: 0;
    padding-bottom: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFF;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 1.63;
}}

@media screen and (max-width: 425px) {
    .place__paragraph {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 0 16px;
}}

