.cover {
    margin: 0 auto;
    background-color:  rgba(42, 44, 47, 0.3);
    background-image: url(../../images/cover-trains.jpg);
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: 0.8s;
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    background-size: cover;
}

.cover:hover {
    background-color:  rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
    .cover {
    max-width: 1024px;
    min-height: 640px;
}}

@media screen and (max-width: 768px) {
    .cover {
    max-width: 768px;
    min-height: 480px;
}}

@media screen and (max-width: 700px) {
    .cover {
    max-width: 700px;
    min-height: 200px;
}}