.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFF;
    margin: 245px auto 32px auto;
    width: calc(100% - (312px * 2));
    z-index: 3;
}

@media screen and (max-width: 1024px) {
    .cover__title {
    margin: 195px auto 32px auto;
    width: 55%;
}}

@media screen and (max-width: 768px) {
    .cover__title {
    margin: 115px auto 32px auto;
    width: 77%;
}}

@media screen and (max-width: 425px) {
    .cover__title {
    margin: 33px auto 16px auto;
    width: calc(100% - (33px * 2));
    font-size: 32px;
    line-height: 1.09;
}}
